@use "../config/vars";

.keys {
	position: relative;
	z-index: 1;

	&__top {
		margin-bottom: 50px;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: flex-start;
		gap: 40px;

		@media screen and (max-width: 1200px) {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__title {
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px 30px;

		@media screen and (max-width: vars.$s992) {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	}
}

.key-item {
	display: flex;
	align-items: flex-start;
	gap: 10px;

	@media screen and (max-width: vars.$s768) {
		flex-direction: column;
	}

	svg {
		flex-shrink: 0;

		@media screen and (max-width: vars.$s768) {
			width: 40px;
			height: 40px;
		}
	}

	&__title {
		margin-bottom: 10px;

		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.01em;
		color: #3d1701;

		@media screen and (max-width: vars.$s480) {
			font-size: 14px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.01em;
		color: #8c6f5e;

		@media screen and (max-width: vars.$s480) {
			font-size: 12px;
		}
	}
}
