:root {
	// Fonts
	--font-primary: "Montserrat", "Segoe UI", serif;

	// Colors
	--base-text: #8c6f5e;

	//
	--white: #fff;
	--total-black: #000;
	--orange: #ff9d97;
	--green: #44b5b1;
}

$tablet_landscape: 992px;
$tablet: 768px;
$phone: 480px;
